.tableContainer{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 5rem;
}

.table{
    width: 90%;
    margin: auto;
    border-spacing: 0;
    font-size: 1.25rem;
}

.table th{
    font-size: 1.5rem;
    margin: 0;
    border: 1px solid black;
}

.tableBody td{
    padding: 1rem 2rem;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.tableBody > *:nth-child(1){
    background-color: gold;
}

.tableBody > *:nth-child(2){
    background-color: #b2b8be;
}

.tableBody > *:nth-child(3){
    background-color: #b16d29;
}

.returnHome{
    color: white;
    position: fixed;
    font-size: 2rem;
    top: .5rem;
    left: .5rem;
    background-color: tomato;
    text-decoration: none;
    transition: .25s;
    padding: .5rem 1rem;
    border-radius: 6px;
}

.returnHome > img{
    width: 1.5rem;
    margin-bottom: -.25rem;
}

.returnHome:hover{
    border: 1px solid tomato;
    background-color: white;
    color: tomato;
}